{
  "openapi": "3.1.0",
  "info": {
    "title": "Peepal API",
    "description": "Verify people claims using public web evidence.",
    "version": "0.0.0"
  },
  "servers": [
    {
      "url": "https://api.peepal.dev",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "summary": "Health check",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs": {
      "post": {
        "summary": "Create a job",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List jobs",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/JobStatus"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedJobs"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{job_id}": {
      "get": {
        "summary": "Get a job",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{job_id}/cancel": {
      "post": {
        "summary": "Cancel a job",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job canceled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Job cannot be canceled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{job_id}/report": {
      "get": {
        "summary": "Get a report",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Report or job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Report not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{job_id}/sources": {
      "get": {
        "summary": "List sources",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated sources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSources"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates": {
      "post": {
        "summary": "Create a template",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List templates",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTemplates"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates/{template_id}": {
      "get": {
        "summary": "Get a template",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates/{template_id}/deprecate": {
      "post": {
        "summary": "Deprecate a template",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template deprecated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Template already deprecated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/endpoints": {
      "post": {
        "summary": "Create a webhook endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEndpointCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook endpoint created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List webhook endpoints",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated webhook endpoints",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedWebhookEndpoints"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/endpoints/{endpoint_id}": {
      "get": {
        "summary": "Get a webhook endpoint",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoint details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Webhook endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a webhook endpoint",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEndpointUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook endpoint updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Webhook endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/endpoints/{endpoint_id}/rotate-secret": {
      "post": {
        "summary": "Rotate a webhook secret",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret rotated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSecretRotateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Webhook endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/deliveries": {
      "get": {
        "summary": "List webhook deliveries",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endpoint_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated deliveries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedWebhookDeliveries"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/deliveries/{delivery_id}": {
      "get": {
        "summary": "Get a webhook delivery",
        "parameters": [
          {
            "name": "delivery_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDelivery"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Webhook delivery not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "time": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["status", "time"]
      },
      "Problem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": ["path", "message"]
            }
          }
        },
        "required": ["type", "title", "status", "detail", "request_id"]
      },
      "JobStatus": {
        "type": "string",
        "enum": [
          "created",
          "queued",
          "running",
          "completed",
          "failed",
          "canceled"
        ]
      },
      "VerificationDepth": {
        "type": "string",
        "enum": ["light", "standard", "deep"]
      },
      "ExaCategory": {
        "type": "string",
        "enum": ["auto", "people", "company", "news", "research", "github"]
      },
      "ClaimMatchStrength": {
        "type": "string",
        "enum": ["strict", "fuzzy", "semantic"]
      },
      "ClaimResultStatus": {
        "type": "string",
        "enum": ["verified", "not_verified", "inconclusive", "contradiction"]
      },
      "ClaimType": {
        "type": "string",
        "enum": ["education", "employment", "business", "identity"]
      },
      "WebhookEventType": {
        "type": "string",
        "enum": [
          "job.created",
          "job.started",
          "job.progress",
          "job.completed",
          "job.failed",
          "job.canceled"
        ]
      },
      "SourceMethod": {
        "type": "string",
        "enum": ["exa.searchAndContents", "exa.getContents", "cf.browser.json"]
      },
      "IdentityResolutionStatus": {
        "type": "string",
        "enum": ["matched", "ambiguous", "no_match"]
      },
      "EducationEntrySeed": {
        "type": "object",
        "properties": {
          "school": {
            "type": "string"
          },
          "degree": {
            "type": "string"
          },
          "field": {
            "type": "string"
          },
          "start_year": {
            "type": "integer"
          },
          "end_year": {
            "type": "integer"
          }
        }
      },
      "EmploymentEntrySeed": {
        "type": "object",
        "properties": {
          "employer": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "start_date": {
            "type": "string"
          },
          "end_date": {
            "type": "string"
          }
        }
      },
      "PersonSeed": {
        "type": "object",
        "properties": {
          "full_name": {
            "type": "string"
          },
          "aliases": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "location": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "email_domain": {
            "type": "string"
          },
          "linkedin_url": {
            "type": "string",
            "format": "uri"
          },
          "github_url": {
            "type": "string",
            "format": "uri"
          },
          "personal_website": {
            "type": "string",
            "format": "uri"
          },
          "current_company": {
            "type": "string"
          },
          "current_title": {
            "type": "string"
          },
          "education_seed": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EducationEntrySeed"
            }
          },
          "employment_seed": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmploymentEntrySeed"
            }
          }
        },
        "required": ["full_name"]
      },
      "ClaimMatchRules": {
        "type": "object",
        "properties": {
          "match_strength": {
            "$ref": "#/components/schemas/ClaimMatchStrength"
          },
          "min_confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          }
        }
      },
      "ClaimBase": {
        "type": "object",
        "properties": {
          "claim_key": {
            "type": "string"
          },
          "match_rules": {
            "$ref": "#/components/schemas/ClaimMatchRules"
          },
          "weight": {
            "type": "number",
            "minimum": 0,
            "maximum": 10
          }
        },
        "required": ["claim_key"]
      },
      "EducationClaim": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ClaimBase"
          },
          {
            "type": "object",
            "properties": {
              "claim_type": {
                "const": "education"
              },
              "expected": {
                "type": "object",
                "properties": {
                  "school": {
                    "type": "string"
                  },
                  "degree": {
                    "type": "string"
                  },
                  "field": {
                    "type": "string"
                  },
                  "start_year": {
                    "type": "integer"
                  },
                  "end_year": {
                    "type": "integer"
                  }
                }
              }
            },
            "required": ["claim_type", "expected"]
          }
        ]
      },
      "EmploymentClaim": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ClaimBase"
          },
          {
            "type": "object",
            "properties": {
              "claim_type": {
                "const": "employment"
              },
              "expected": {
                "type": "object",
                "properties": {
                  "employer": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "start": {
                    "type": "string"
                  },
                  "end": {
                    "type": "string"
                  }
                }
              }
            },
            "required": ["claim_type", "expected"]
          }
        ]
      },
      "BusinessClaim": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ClaimBase"
          },
          {
            "type": "object",
            "properties": {
              "claim_type": {
                "const": "business"
              },
              "expected": {
                "type": "object",
                "properties": {
                  "business_name": {
                    "type": "string"
                  },
                  "business_domain": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  }
                }
              }
            },
            "required": ["claim_type", "expected"]
          }
        ]
      },
      "IdentityClaim": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ClaimBase"
          },
          {
            "type": "object",
            "properties": {
              "claim_type": {
                "const": "identity"
              },
              "expected": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "email_domain": {
                    "type": "string"
                  },
                  "linkedin_url": {
                    "type": "string"
                  },
                  "github_url": {
                    "type": "string"
                  },
                  "personal_website": {
                    "type": "string"
                  }
                }
              }
            },
            "required": ["claim_type", "expected"]
          }
        ]
      },
      "Claim": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/EducationClaim"
          },
          {
            "$ref": "#/components/schemas/EmploymentClaim"
          },
          {
            "$ref": "#/components/schemas/BusinessClaim"
          },
          {
            "$ref": "#/components/schemas/IdentityClaim"
          }
        ],
        "discriminator": {
          "propertyName": "claim_type",
          "mapping": {
            "education": "#/components/schemas/EducationClaim",
            "employment": "#/components/schemas/EmploymentClaim",
            "business": "#/components/schemas/BusinessClaim",
            "identity": "#/components/schemas/IdentityClaim"
          }
        }
      },
      "JobOptionsWebhook": {
        "type": "object",
        "properties": {
          "endpoint_id": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventType"
            }
          }
        }
      },
      "JobOptions": {
        "type": "object",
        "properties": {
          "depth": {
            "$ref": "#/components/schemas/VerificationDepth"
          },
          "max_sources": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200,
            "default": 30
          },
          "max_cost_usd": {
            "type": "number",
            "minimum": 0
          },
          "exa_category": {
            "$ref": "#/components/schemas/ExaCategory"
          },
          "allow_domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "deny_domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "webhook": {
            "$ref": "#/components/schemas/JobOptionsWebhook"
          }
        }
      },
      "JobCreateRequest": {
        "type": "object",
        "properties": {
          "person": {
            "$ref": "#/components/schemas/PersonSeed"
          },
          "claims": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Claim"
            },
            "minItems": 1,
            "maxItems": 50
          },
          "template_id": {
            "type": "string"
          },
          "options": {
            "$ref": "#/components/schemas/JobOptions"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": ["person", "claims"]
      },
      "JobLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string"
          },
          "report": {
            "type": "string"
          },
          "sources": {
            "type": "string"
          }
        },
        "required": ["self", "report", "sources"]
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "progress": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "template_id": {
            "type": ["string", "null"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "started_at": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "completed_at": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "error": {
            "type": ["string", "null"]
          },
          "person": {
            "$ref": "#/components/schemas/PersonSeed"
          },
          "claims": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Claim"
            }
          },
          "options": {
            "$ref": "#/components/schemas/JobOptions"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "links": {
            "$ref": "#/components/schemas/JobLinks"
          }
        },
        "required": [
          "id",
          "status",
          "progress",
          "template_id",
          "created_at",
          "started_at",
          "completed_at",
          "error",
          "person",
          "claims"
        ]
      },
      "PaginatedJobs": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Job"
            }
          },
          "next_cursor": {
            "type": ["string", "null"]
          }
        },
        "required": ["data", "next_cursor"]
      },
      "Source": {
        "type": "object",
        "properties": {
          "source_id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "title": {
            "type": ["string", "null"]
          },
          "published_date": {
            "type": ["string", "null"]
          },
          "retrieved_at": {
            "type": "string",
            "format": "date-time"
          },
          "method": {
            "$ref": "#/components/schemas/SourceMethod"
          },
          "snippet": {
            "type": ["string", "null"]
          },
          "extracted": {
            "type": ["object", "null"],
            "additionalProperties": true
          },
          "source_quality": {
            "type": ["number", "null"],
            "minimum": 0,
            "maximum": 1
          }
        },
        "required": ["source_id", "url", "domain", "retrieved_at", "method"]
      },
      "PaginatedSources": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Source"
            }
          },
          "next_cursor": {
            "type": ["string", "null"]
          }
        },
        "required": ["data", "next_cursor"]
      },
      "ClaimResult": {
        "type": "object",
        "properties": {
          "claim_key": {
            "type": "string"
          },
          "claim_type": {
            "$ref": "#/components/schemas/ClaimType"
          },
          "status": {
            "$ref": "#/components/schemas/ClaimResultStatus"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "matched_value": {
            "type": ["object", "null"],
            "additionalProperties": true
          },
          "evidence": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "source_id": {
                  "type": "string"
                }
              },
              "required": ["source_id"]
            }
          },
          "explanation": {
            "type": "string"
          }
        },
        "required": [
          "claim_key",
          "claim_type",
          "status",
          "confidence",
          "evidence",
          "explanation"
        ]
      },
      "IdentityCandidate": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "profile_urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["label", "confidence", "profile_urls"]
      },
      "IdentityResolution": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/IdentityResolutionStatus"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "candidates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IdentityCandidate"
            }
          }
        },
        "required": ["status", "confidence", "candidates"]
      },
      "ScoreBreakdown": {
        "type": "object",
        "properties": {
          "identity": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "employment": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "education": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "business": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          }
        }
      },
      "Report": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string"
          },
          "status": {
            "const": "completed"
          },
          "score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "score_breakdown": {
            "$ref": "#/components/schemas/ScoreBreakdown"
          },
          "identity_resolution": {
            "$ref": "#/components/schemas/IdentityResolution"
          },
          "claims": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClaimResult"
            }
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Source"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "job_id",
          "status",
          "score",
          "score_breakdown",
          "identity_resolution",
          "claims",
          "sources",
          "created_at"
        ]
      },
      "TemplateCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "description": {
            "type": "string"
          },
          "input_schema": {
            "type": "object",
            "additionalProperties": true
          },
          "extraction_schema": {
            "type": "object",
            "additionalProperties": true
          },
          "search_plan": {
            "type": "object",
            "additionalProperties": true
          },
          "scoring_rubric": {
            "type": "object",
            "additionalProperties": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "name",
          "version",
          "input_schema",
          "extraction_schema",
          "search_plan",
          "scoring_rubric"
        ]
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "description": {
            "type": ["string", "null"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "deprecated_at": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "input_schema": {
            "type": "object",
            "additionalProperties": true
          },
          "extraction_schema": {
            "type": "object",
            "additionalProperties": true
          },
          "search_plan": {
            "type": "object",
            "additionalProperties": true
          },
          "scoring_rubric": {
            "type": "object",
            "additionalProperties": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "name",
          "version",
          "description",
          "created_at",
          "deprecated_at",
          "input_schema",
          "extraction_schema",
          "search_plan",
          "scoring_rubric"
        ]
      },
      "PaginatedTemplates": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          },
          "next_cursor": {
            "type": ["string", "null"]
          }
        },
        "required": ["data", "next_cursor"]
      },
      "WebhookEndpointCreateRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventType"
            },
            "minItems": 1
          },
          "enabled": {
            "type": "boolean",
            "default": true
          },
          "description": {
            "type": "string"
          }
        },
        "required": ["url", "events"]
      },
      "WebhookEndpointUpdateRequest": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventType"
            }
          },
          "enabled": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "WebhookEndpoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventType"
            }
          },
          "enabled": {
            "type": "boolean"
          },
          "description": {
            "type": ["string", "null"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "url",
          "events",
          "enabled",
          "description",
          "created_at"
        ]
      },
      "WebhookEndpointCreateResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventType"
            }
          },
          "enabled": {
            "type": "boolean"
          },
          "description": {
            "type": ["string", "null"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "secret": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "url",
          "events",
          "enabled",
          "description",
          "created_at",
          "secret"
        ]
      },
      "WebhookSecretRotateResponse": {
        "type": "object",
        "properties": {
          "endpoint_id": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          },
          "rotated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["endpoint_id", "secret", "rotated_at"]
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "endpoint_id": {
            "type": "string"
          },
          "event_type": {
            "$ref": "#/components/schemas/WebhookEventType"
          },
          "job_id": {
            "type": ["string", "null"]
          },
          "attempt": {
            "type": "integer",
            "minimum": 1
          },
          "status": {
            "type": "string",
            "enum": ["success", "failure"]
          },
          "response_code": {
            "type": ["integer", "null"]
          },
          "error": {
            "type": ["string", "null"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "endpoint_id",
          "event_type",
          "job_id",
          "attempt",
          "status",
          "response_code",
          "error",
          "created_at"
        ]
      },
      "PaginatedWebhookEndpoints": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEndpoint"
            }
          },
          "next_cursor": {
            "type": ["string", "null"]
          }
        },
        "required": ["data", "next_cursor"]
      },
      "PaginatedWebhookDeliveries": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookDelivery"
            }
          },
          "next_cursor": {
            "type": ["string", "null"]
          }
        },
        "required": ["data", "next_cursor"]
      }
    }
  }
}
